.website-content {
    margin: 12px auto 40px auto;
    max-width: 800px;
    overflow: hidden;
    text-align:justify
}

h2{
    background-color: #292b2c;
    color:white;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}
