.website-content {
    margin: 12px auto 40px auto;
    max-width: 800px;
    overflow: hidden;
    text-align:justify
}

mark {
    background-color: rgba(255, 255, 0, 0.38);
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.important {
    color: #980000;
}