{% macro add_front_matter(topic) %}
title: "Textbook Chapter [Printable] : {{ topic.heading }}"
footer: footer.md
{% endmacro %}

{% from "se-book-adapted/chapters/chapter.njk" import show_priority %}

{% macro show_level_three(location, topic) %}
{% set level_location =  location + "/" + topic.name %}
{% set title =  "#### " + topic.heading + " <span class='badge badge-light'><small><small>" + show_priority(topic.priority) + "</small></small></span>" %}
{{ title }}
<div class="indented-less">
<include src="{{ level_location }}/text.md#body" />
</div>
{% endmacro %}


{% macro show_level_two(location, topic) %}
{% set level_location =  location + "/" + topic.name %}
{% set level_is_empty =  (topic.name == "") %}
{% set level_is_omitted =  (topic.priority in ["-1", "4", "0"]) %}
{% if not level_is_omitted %}
  {% if not level_is_empty %}
<include src="{{ level_location }}/text.md#title"/>
  {% endif %}
  {% for sub_topic in topic.level_three_topics %}
    {# omit if priority is 4 or 0:4  #}
    {% if not sub_topic.priority in ["-1", "4", "0", "0:4"]  %}
<div class="indented-less">
      {{show_level_three(level_location , sub_topic) }}
</div>
    {% endif %}
  {% endfor %}
{% endif %} {# end of: if not level_is_omitted #}
{% endmacro %}


{% macro show_level_one(location, topic) %}
{% set level_location =  location + "/" + topic.name %}
{% set level_is_empty =  (topic.name == "") %}
{% set level_is_omitted =  (topic.priority in ["-1", "4", "0"]) %}
{% if not level_is_omitted %}
  {% if not level_is_empty %}
<include src="{{ level_location }}/text.md#title" />
  {% endif %}
  {% for sub_topic in topic.level_two_topics %}
<div class="indented-less">
    {{show_level_two(level_location , sub_topic) }}
</div>
  {% endfor %}
{% endif %} {# end of: if not level_is_omitted #}
{% endmacro %}


{% macro embed_chapter(book_location, chapter) %}

{% set level_location =  book_location + chapter.name %}

<div id="title">
  <include src="{{ level_location }}/text.md#title" />
</div>

{% for topic in chapter.level_one_topics %}
  {{show_level_one(level_location, topic) }}
{% endfor %}

{% endmacro %}


{% macro show_chapter(book_location, chapter) %}
<frontmatter>
title: {{ chapter.heading }}
</frontmatter>

{% set level_location =  book_location + chapter.name %}
<link rel="stylesheet" href="{{baseUrl}}/book/css/textbook.css">
<link rel="stylesheet" href="{{baseUrl}}/book/css/print.css">

<div class="website-content">

<div id="title">
  <include src="{{ level_location }}/text.md#title" />
</div>

<include src="../print.md#printable-version-description" />

{% for topic in chapter.level_one_topics %}
  {{show_level_one(level_location, topic) }}
{% endfor %}

</div>
{% endmacro %}