{% macro add_front_matter(topic) %}title: "Textbook Chapter : {{ topic.heading }}"
layout: textbook-layout.md
pageNav: 4
{% endmacro %}

{% macro show_priority(level) %}{% set star = ":glyphicon-star:" %}{% set empty = ":glyphicon-star-empty:" %}{% set prereq = ":glyphicon-education:: " %}{% set stars = {"0:1": prereq + star + empty + empty + empty, "1": "<font color='Crimson'>" + star + "</font>" + empty + empty + empty, "0:2": prereq + star + star + empty + empty, "2": "<font color='DarkOrange'>" + star + star + "</font>" + empty + empty, "0:3": prereq + star + star + star + empty, "3": "<font color='DodgerBlue'>" + star + star + star + "</font>"  + empty, "0:4": prereq + star + star + star + star, "4": "<font color='ForestGreen'>" + star + star + star + star + "</font>" } %}{{stars[level] }}{% endmacro %}

{% macro show_level_three(location, topic) %}
{% set level_location =  location + "/" + topic.name %}
{% set title =  "#### " + topic.heading %}
<panel type="seamless" header="{{ title }}" expanded>
  <div class="indented">
  <span class="badge bg-light text-dark">
  <md>%%{{ show_priority(topic.priority) |safe }}%%</md></span>
  <span class="badge bg-light text-dark"><md>%%<include src="{{ level_location }}/text.md#outcomes" inline />%%</md></span><p/>
  <include src="{{ level_location }}/text.md#body" />
  <include src="{{ level_location }}/text.md#extras" />
  </div>
</panel>
{% endmacro %}


{% macro show_level_two(location, topic) %}
{% set level_location =  location + "/" + topic.name %}
{% set level_is_empty =  (topic.name == "") %}
{% set level_is_omitted =  (topic.priority == "-1") %}
{% if not level_is_omitted %}
  {% if not level_is_empty %}
<panel type="seamless" expanded>
  <span slot="header" class="card-title"><markdown>### <include src="{{ level_location }}/text.md#title" inline /></markdown></span>
  {% endif %}
    {% for sub_topic in topic.level_three_topics %}
      {% if sub_topic.priority != "-1" %}
{{show_level_three(level_location , sub_topic) }}
      {% endif %}
    {% endfor %}
  {% if not level_is_empty %}
</panel>
  {% endif %}
{% endif %} {# end of: if not level_is_omitted #}
{% endmacro %}


{% macro show_level_one(location, topic) %}
{% set level_location =  location + "/" + topic.name %}
{% set level_is_empty =  (topic.name == "") %}
{% set level_is_omitted =  (topic.priority == "-1") %}
{% if not level_is_omitted %}
  {% if not level_is_empty %}
<panel type="seamless" expanded>
  <span slot="header" class="card-title"><markdown>## <include src="{{ level_location }}/text.md#title" inline /></markdown></span>
  {% endif %}
    {% for sub_topic in topic.level_two_topics %}
{{show_level_two(level_location , sub_topic) }}
    {% endfor %}
  {% if not level_is_empty %}
</panel>
  {% endif %}
{% endif %} {# end of: if not level_is_omitted #}
{% endmacro %}


{% macro show_chapter(chapter) %}
<frontmatter>
title: {{ chapter.heading }}
header: header.md
</frontmatter>

{% set level_location =  "../../book/" + chapter.name %}
<link rel="stylesheet" href="{{baseUrl}}/book/css/textbook.css">

<div class="website-content">

%%**<include src="{{ level_location }}/../path.md" inline />**%%

<div id="title">
<markdown># <include src="{{ level_location }}/text.md#title" inline /></markdown>
</div>

{% for topic in chapter.level_one_topics %}
  {{show_level_one(level_location, topic) }}
{% endfor %}

</div>
{% endmacro %}
