{% macro get_links(username) -%}
{{ username }}: [[JAR](https://github.com/{{ username }}/duke/releases)][[User Guide](https://{{ username }}.github.io/duke)][[Code](https://nus-cs2103-{{ semester | lower }}.github.io/ip-dashboard/#sort=groupTitle&groupSelect=groupByAuthors&search={{ username }}&sortWithin=title&since=2019-08-16&timeframe=commit&mergegroup=false&breakdown=false&tabOpen=true&tabType=authorship&tabAuthor={{ username }}&tabRepo={{ username }}%2Fduke%5Bmaster%5D)]
{%- endmacro  %}

{% macro show_allocation_table() %}
{% set allocations = [
["1nefootstep", "LuWenQ", "weikiat97"],
["AaronLuk", "WeomuCat", "cheongliyuan"],
["Abhiman2211", "YiJiee", "bjhoohaha"],
["AHaliq", "SakshiPradyumn", "dalsontws"],
["AhmadHatziq", "bigjunnn", "Ellieyee"],
["aidilfbk", "fangpinsern", "yewon0303"],
["Akimatsu98", "jcjjjared", "wilfredbtan"],
["Alaete", "SendorasLeft", "Xuerneas"],
["alages97", "Russell-Loh-NUS", "Kalsyc"],
["alexwxh", "shiweing", "shawnpunchew11"],
["Alvinnyk", "aidilfbk", "Berttwm"],
["alxkohh", "sianghwee", "shiyao821"],
["ambervoong", "bjhoohaha", "fangpinsern"],
["ambhinav", "tirameshu", "uberSaiyan"],
["andyylam", "anqichen9856", "blimyj"],
["ang-zeyu", "ccyccyccy", "belbel98"],
["anqichen9856", "dcshzj", "hooncp"],
["ArgVampir", "jonathantjendana", "seeziyang"],
["arjavibahety", "Dandford", "ChengGeng97"],
["arjunwangty", "gary-lgy", "victorvic54"],
["ArunBeCoding", "tysng", "CarbonGrid"],
["atharvjoshi", "HoWeiChin", "kerwin97"],
["Aulud", "elsakoh", "eejian97"],
["austinsantoso", "crazoter", "cheeyou"],
["Auxinnn", "qiujiaaa", "liawsy"],
["bakwxh", "ArunBeCoding", "JunHongT"],
["belbel98", "jityong", "marcusteh1238"],
["bernicechio", "garylyp", "mrchensheng21"],
["Berttwm", "yewon0303", "EvonDong"],
["bigjunnn", "lye-jw", "ang-zeyu"],
["bitterg0d", "bakwxh", "crazoter"],
["bjhoohaha", "jolynnn8D", "larrylawl"],
["blimyj", "hooncp", "ambhinav"],
["brebeek", "weigenie", "joshuaseetss"],
["brianyenna", "chowyiwai", "lawncegoh"],
["briyanii", "Parcly-Taxel", "openorclose"],
["bruceskellator", "Yen-Peng", "ChangUo79"],
["caesarpjz", "limerencee", "rongrongrr"],
["calvincxz", "xinmingzh", "MauriceTXS"],
["cambrian-dk", "whneo97", "SQwQ"],
["CarbonGrid", "timothyleong97", "ChenJiehan318"],
["Cary-Xx", "chen-xi-cx", "tohcejasmine"],
["ccyccyccy", "t-cheepeng", "jityong"],
["chaitanyabaranwal", "belbel98", "john0227"],
["ChangUo79", "AHaliq", "jonchan51"],
["chanjunren", "LiuZechu", "JermyTan"],
["charliechoong", "calvincxz", "fatclarence"],
["cheeyou", "jaesimin", "shuiyao-sg"],
["ChengGeng97", "klementtan", "LiuZechu"],
["ChenJiehan318", "thwnus", "limerencee"],
["chensu2436", "SakuraBlossom", "LuWenQ"],
["chen-xi-cx", "Cronyxx", "arjavibahety"],
["cheongliyuan", "TeoShyanJie", "kangyeelim"],
["cheongsiuhong", "junhuplim", "AhmadHatziq"],
["choongyx", "yeodonghan", "charliechoong"],
["choonx99", "Ellieyee", "pohlinwei"],
["chowyiwai", "jietung", "krusagiz"],
["chowyiyin", "lawncegoh", "fabbbbbbyy"],
["chrischenhui", "jxofficial", "kxyoke"],
["ChrisKheng", "ChenJiehan318", "caesarpjz"],
["ckb055", "wongchuankai", "brebeek"],
["C-likethis123", "MichaelaTSH", "liakify"],
["CoderStellaJ", "liawsy", "evelynejuliet"],
["CowSaysBaa", "Raikonen", "ShaunNgTX"],
["crazoter", "JunHongT", "jaesimin"],
["Crisgu", "Seris370", "yeodonghan"],
["Cronyxx", "chrischenhui", "Dandford"],
["cutieprobe", "wongsm7", "jeunhoe"],
["czkay", "stevenwjy", "uggi121"],
["daekoon", "etlow", "dingyuchen"],
["dalisc", "LivingOnEdge", "Davidcwh"],
["dalsontws", "Nanosync", "sheryltay28"],
["Dandford", "kxyoke", "klementtan"],
["Davidcwh", "jeongyh99", "stevenwjy"],
["dawo5010", "lightz96", "nexolute"],
["dcshzj", "C-likethis123", "weiyang13"],
["dingyuchen", "jessicax941", "gabrielchao"],
["DivineDX", "PhireHandy", "scwaterbear"],
["dorcastan", "sheryltay28", "LivingOnEdge"],
["dragontho", "gabrielseow", "Russell-Loh-NUS"],
["dvrylc", "ChangUo79", "robytanama"],
["e0031374", "cheongsiuhong", "EugeneTeu"],
["eejian97", "TSAI-HSIAO-HAN", "troomtroom"],
["eizon05", "ZiHawkEye", "atharvjoshi"],
["Ellieyee", "ang-zeyu", "chaitanyabaranwal"],
["elsakoh", "jun-ha0", "TSAI-HSIAO-HAN"],
["ernestyyh", "OneArmyj", "waifonglee"],
["eshwarkp", "LeonardTay748", "ZhangHuafan"],
["etlow", "shawnpunchew11", "jessicax941"],
["EugeneTeu", "AhmadHatziq", "choonx99"],
["evelynejuliet", "KxxMxxx", "ArunBeCoding"],
["EvonDong", "Kzrthikz", "brianyenna"],
["fabbbbbbyy", "iltep64", "Cary-Xx"],
["fadisng", "joannasara", "hoholyin"],
["fangpinsern", "larrylawl", "briyanii"],
["fatclarence", "MauriceTXS", "yhtingg"],
["febee99", "mirozo", "shaoyi1997"],
["FelixNWJ", "evelynejuliet", "bakwxh"],
["francislow", "ckb055", "xinmingzh"],
["gabrielchao", "cutieprobe", "keiteo"],
["gabrielseow", "moziliar", "bruceskellator"],
["gachia", "joshuaseetss", "WilliamRyank"],
["gary-lgy", "sreesubbash", "kelvinnharris"],
["garylyp", "czkay", "jiayushe"],
["geshuming", "Alaete", "shiweing"],
["gohsnn", "TheRealRavager", "jonathantjendana"],
["halfwhole", "ChengGeng97", "chanjunren"],
["hcwong", "podocarp", "tuandingwei"],
["hellodommy", "bitterg0d", "austinsantoso"],
["hellopanda128", "yaaanch", "ybchen97"],
["heze8", "Kalsyc", "SakshiPradyumn"],
["hoholyin", "ROHITREDDYBALAM", "alxkohh"],
["honhaochen", "EvonDong", "linyutinglyt"],
["hooncp", "weiyang13", "tirameshu"],
["HoWeiChin", "SoilingRogue", "Aulud"],
["hua-lun", "seeziyang", "podocarp"],
["huiminlim", "ReignOfComputer", "jcjjjared"],
["Icesiolz", "ManasVegi", "xiaoyu-nus"],
["iltep64", "walnads", "chen-xi-cx"],
["irene-lly", "ShuTingY", "lightz96"],
["jaesimin", "ChrisKheng", "MackyMaguire"],
["jakq", "ooimingsheng", "hellodommy"],
["jascxx", "tiuweehan", "Q-gabe"],
["jcjjjared", "marcfyk", "Icesiolz"],
["jeongyh99", "bernicechio", "shawnlsj97"],
["JermyTan", "alages97", "heze8"],
["jerryk1997", "EugeneTeu", "tanlk99"],
["jessicax941", "LeeYiyuan", "cutieprobe"],
["jeunhoe", "tswuxia", "yaaanch"],
["jiayushe", "uggi121", "JohnNzj"],
["jietung", "niqiukun", "marqueurs404"],
["jityong", "Abhiman2211", "ambervoong"],
["joannasara", "gabrielchao", "ROHITREDDYBALAM"],
["Joanna-YJA", "jerryk1997", "lye-jw"],
["john0227", "marcusteh1238", "Alvinnyk"],
["JohnNzj", "woon17", "KendrickAng"],
["joloong", "ybchen97", "SwampertX"],
["jolynnn8D", "Alvinnyk", "seanlowjk"],
["jonathantjendana", "1nefootstep", "nattanyz"],
["jonchan51", "dalsontws", "dorcastan"],
["jon-chua", "kohyida1997", "madanalogy"],
["joshuaseetss", "nishcafe", "jascxx"],
["jun-ha0", "DivineDX", "neoshh"],
["JunHongT", "CarbonGrid", "ChrisKheng"],
["junhuplim", "Joanna-YJA", "bigjunnn"],
["junnbang", "ngzhaoming", "gabrielseow"],
["jxofficial", "tohcejasmine", "shawnkoh"],
["jyx11011", "linyutinglyt", "niqiukun"],
["Kalsyc", "dvrylc", "khiangleon"],
["kangyeelim", "michelleykw", "junhuplim"],
["keiteo", "jeunhoe", "hellopanda128"],
["kelvinnharris", "febee99", "lumos309"],
["KendrickAng", "Yehezkiel01", "waynefong0401"],
["kenneth-fung", "ShaunNgTX", "LeonardTay748"],
["kensonoenqh", "alexwxh", "etlow"],
["kerwin97", "Aulud", "PhireHandy"],
["khairulazman1997", "Q-gabe", "C-likethis123"],
["khiangleon", "robytanama", "irene-lly"],
["klementtan", "junnbang", "dragontho"],
["kohyida1997", "Akimatsu98", "mannggoo"],
["krusagiz", "marqueurs404", "walnads"],
["kwekke", "dingyuchen", "joannasara"],
["KxxMxxx", "hellodommy", "tysng"],
["kxyoke", "shawnkoh", "junnbang"],
["Kyzure", "Cary-Xx", "jxofficial"],
["Kzrthikz", "openorclose", "chowyiwai"],
["larrylawl", "seanlowjk", "Parcly-Taxel"],
["lawncegoh", "krusagiz", "iltep64"],
["le0tan", "zhixianggg", "ngswbryan"],
["LeeYiyuan", "fadisng", "wongsm7"],
["LeonardTay748", "oscarsu97", "limxuanhui"],
["LeowWB", "ambhinav", "sreesubbash"],
["liakify", "LeowWB", "gary-lgy"],
["liawsy", "jakq", "KxxMxxx"],
["lightz96", "dalisc", "mrnewguy"],
["limerencee", "SebastianLie", "Sahilgat"],
["limhawjia", "SQwQ", "yyuanxin"],
["limxuanhui", "lumwb", "cambrian-dk"],
["linyutinglyt", "brianyenna", "chowyiyin"],
["LiuZechu", "dragontho", "alages97"],
["LivingOnEdge", "zhangxuan97", "jeongyh99"],
["lrchema", "cambrian-dk", "limhawjia"],
["lumos309", "shaoyi1997", "SendorasLeft"],
["lumwb", "AaronLuk", "whneo97"],
["LuWenQ", "hua-lun", "hcwong"],
["lye-jw", "tanlk99", "ccyccyccy"],
["lyskevin", "KendrickAng", "ryantay232"],
["lzw12345", "shihaoyap", "TheRealRavager"],
["MackyMaguire", "caesarpjz", "weihaw08"],
["madanalogy", "mannggoo", "yuhongtay"],
["ManasVegi", "yuhongtay", "SimNee"],
["mannggoo", "wilfredbtan", "Auxinnn"],
["marcfyk", "madanalogy", "ManasVegi"],
["marcusteh1238", "ambervoong", "aidilfbk"],
["marqueurs404", "wallacelim97", "ryoarmanda"],
["MauriceTXS", "gachia", "minpyaemoe"],
["MichaelaTSH", "blimyj", "LeowWB"],
["michelleykw", "yyuanxin", "Joanna-YJA"],
["minpyaemoe", "WilliamRyank", "ning-sy210"],
["mirozo", "nordic96", "Xelyion"],
["MistyRainforest", "kerwin97", "DivineDX"],
["moziliar", "JermyTan", "Yen-Peng"],
["mrchensheng21", "jiayushe", "Oscar-B-Liang"],
["mrnewguy", "Davidcwh", "czkay"],
["muhammadaljunied", "kangyeelim", "cheongsiuhong"],
["Na-Nazhou", "ryantay232", "jon-chua"],
["Nanosync", "irene-lly", "dawo5010"],
["nattanyz", "weikiat97", "Raikonen"],
["neoshh", "scwaterbear", "shihaoyap"],
["nexolute", "mrnewguy", "garylyp"],
["ngswbryan", "TanZhanMing", "AaronLuk"],
["ngzhaoming", "chanjunren", "moziliar"],
["ning-sy210", "khairulazman1997", "dcshzj"],
["niqiukun", "chowyiyin", "wallacelim97"],
["nishcafe", "yhtingg", "tiuweehan"],
["nordic96", "ryanYtan", "geshuming"],
["olivercheok20", "tuandingwei", "zhixianggg"],
["OneArmyj", "Oscar-B-Liang", "Yoshi275"],
["ooimingsheng", "FelixNWJ", "bitterg0d"],
["openorclose", "jyx11011", "jietung"],
["Oscar-B-Liang", "JohnNzj", "lyskevin"],
["oscarsu97", "ngswbryan", "lumwb"],
["Parcly-Taxel", "honhaochen", "jyx11011"],
["philipalexanderb", "gohsnn", "ArgVampir"],
["PhireHandy", "eejian97", "tishyakhanna97"],
["podocarp", "CowSaysBaa", "kenneth-fung"],
["pohlinwei", "chaitanyabaranwal", "YiJiee"],
["Q-gabe", "andyylam", "MichaelaTSH"],
["qiujiaaa", "xiaoyu-nus", "jakq"],
["qweiping31415", "Wingedevil", "ckb055"],
["Raikonen", "olivercheok20", "le0tan"],
["R-D-D-D", "shiyao821", "ZiHawkEye"],
["ReignOfComputer", "jon-chua", "marcfyk"],
["robytanama", "jonchan51", "ShuTingY"],
["ROHITREDDYBALAM", "keiteo", "sianghwee"],
["rongrongrr", "Sahilgat", "qweiping31415"],
["Russell-Loh-NUS", "bruceskellator", "dvrylc"],
["ryantay232", "waynefong0401", "kohyida1997"],
["ryanYtan", "lumos309", "Alaete"],
["ryoarmanda", "Kyzure", "chrischenhui"],
["Sahilgat", "Sam-limyr", "Wingedevil"],
["SakshiPradyumn", "khiangleon", "Nanosync"],
["SakuraBlossom", "ArgVampir", "hua-lun"],
["Sam-limyr", "Crisgu", "choongyx"],
["SamYJ2606", "philipalexanderb", "SakuraBlossom"],
["sandydays", "kwekke", "fadisng"],
["scwaterbear", "tishyakhanna97", "SamYJ2606"],
["seahlynn", "weihaw08", "Crisgu"],
["seanlowjk", "Berttwm", "honhaochen"],
["SebastianLie", "seahlynn", "Sam-limyr"],
["seeziyang", "nattanyz", "CowSaysBaa"],
["SendorasLeft", "kensonoenqh", "daekoon"],
["Seris370", "qweiping31415", "francislow"],
["shaoyi1997", "Xelyion", "kensonoenqh"],
["ShaunNgTX", "le0tan", "oscarsu97"],
["shawnkoh", "halfwhole", "ngzhaoming"],
["shawnlsj97", "mrchensheng21", "OneArmyj"],
["shawnpunchew11", "sandydays", "LeeYiyuan"],
["sheryltay28", "dawo5010", "zhangxuan97"],
["shihaoyap", "SamYJ2606", "chensu2436"],
["ShirleyWangxt", "ning-sy210", "anqichen9856"],
["shiweing", "Xuerneas", "sandydays"],
["shiyao821", "joloong", "teoha"],
["shuiyao-sg", "MackyMaguire", "seahlynn"],
["ShuTingY", "dorcastan", "dalisc"],
["sianghwee", "hellopanda128", "joloong"],
["SimNee", "CoderStellaJ", "FelixNWJ"],
["SoilingRogue", "tcgj", "elsakoh"],
["SQwQ", "muhammadaljunied", "e0031374"],
["sreesubbash", "uberSaiyan", "febee99"],
["stevenwjy", "shawnlsj97", "ernestyyh"],
["SwampertX", "teika97", "tcgj"],
["tanlk99", "choonx99", "t-cheepeng"],
["TanZhanMing", "ZhangHuafan", "WeomuCat"],
["tcgj", "MistyRainforest", "jun-ha0"],
["t-cheepeng", "pohlinwei", "Abhiman2211"],
["teika97", "atharvjoshi", "MistyRainforest"],
["teoha", "SwampertX", "SoilingRogue"],
["TeoShyanJie", "limhawjia", "michelleykw"],
["TheRealRavager", "chensu2436", "1nefootstep"],
["thwnus", "shuiyao-sg", "SebastianLie"],
["timothyleong97", "cheeyou", "thwnus"],
["tirameshu", "arjunwangty", "weiijiie"],
["tishyakhanna97", "troomtroom", "philipalexanderb"],
["tiuweehan", "ShirleyWangxt", "andyylam"],
["tohcejasmine", "arjavibahety", "halfwhole"],
["troomtroom", "lzw12345", "gohsnn"],
["TSAI-HSIAO-HAN", "neoshh", "lzw12345"],
["tswuxia", "alxkohh", "R-D-D-D"],
["tuandingwei", "kenneth-fung", "eshwarkp"],
["tysng", "austinsantoso", "timothyleong97"],
["uberSaiyan", "weiijiie", "mirozo"],
["uggi121", "ernestyyh", "woon17"],
["victorvic54", "kelvinnharris", "ryanYtan"],
["waifonglee", "Yoshi275", "zhangj1an"],
["wallacelim97", "fabbbbbbyy", "Kyzure"],
["walnads", "ryoarmanda", "Cronyxx"],
["waynefong0401", "huiminlim", "Akimatsu98"],
["weigenie", "fatclarence", "nishcafe"],
["weihaw08", "rongrongrr", "Seris370"],
["weiijiie", "victorvic54", "nordic96"],
["weikiat97", "hcwong", "olivercheok20"],
["weiyang13", "liakify", "arjunwangty"],
["WeomuCat", "lrchema", "TeoShyanJie"],
["whneo97", "cheongliyuan", "muhammadaljunied"],
["wilfredbtan", "Icesiolz", "qiujiaaa"],
["WilliamRyank", "jascxx", "khairulazman1997"],
["Wingedevil", "choongyx", "wongchuankai"],
["wongchuankai", "charliechoong", "weigenie"],
["wongsm7", "hoholyin", "tswuxia"],
["woon17", "waifonglee", "Yehezkiel01"],
["Xelyion", "geshuming", "alexwxh"],
["xiaoyu-nus", "SimNee", "ooimingsheng"],
["xinmingzh", "brebeek", "gachia"],
["Xuerneas", "daekoon", "kwekke"],
["yaaanch", "R-D-D-D", "eizon05"],
["ybchen97", "eizon05", "teika97"],
["Yehezkiel01", "zhangj1an", "huiminlim"],
["Yen-Peng", "heze8", "AHaliq"],
["yeodonghan", "francislow", "calvincxz"],
["yewon0303", "briyanii", "Kzrthikz"],
["yhtingg", "minpyaemoe", "ShirleyWangxt"],
["YiJiee", "john0227", "jolynnn8D"],
["Yoshi275", "lyskevin", "Na-Nazhou"],
["yuhongtay", "Auxinnn", "CoderStellaJ"],
["yyuanxin", "e0031374", "jerryk1997"],
["ZhangHuafan", "limxuanhui", "lrchema"],
["zhangj1an", "Na-Nazhou", "ReignOfComputer"],
["zhangxuan97", "nexolute", "bernicechio"],
["zhixianggg", "eshwarkp", "TanZhanMing"],
["ZiHawkEye", "teoha", "HoWeiChin"]
] %}

Your username | 1st iP to evaluate | 2nd iP to evaluate
--------------|--------------------|------------------
{% for allocation in allocations  -%}
{{ allocation[0] }} | {{ get_links(allocation[1]) }} | {{ get_links(allocation[2]) }}
{% endfor %}
{% endmacro %}