{% from "common/macros.njk" import show_stars with context %}

{% macro show_admin_pagetop_for_topic(topics, topic) %}
<frontmatter>
title: "Admin: {{ topic.title }}"
footer: footer.md
siteNav: adminSiteNav.md
head: adminHead.md
</frontmatter>


<include src="../common/header.md" />

<div class="website-content">

{{ show_next_previous(topics, topic.id) }}
<br>
{% endmacro %}


{% macro show_admin_pagetop(topics, current_topic_id) %}
{% for topic in topics %}
{% if topic.id == current_topic_id %}
  {{ show_admin_pagetop_for_topic(topics, topic) }}
{% endif %}
{% endfor %}
{% endmacro %}


{% macro show_previous(topic)-%}
<span style="float:left"><md>{{ glyphicon_chevron_left }} [{{ topic.title }}]({{ topic.link }})</md></span>
{%- endmacro %}


{% macro show_next(topic)-%}
<span style="float:right"><md>[{{ topic.title }} {{ glyphicon_chevron_right }}]({{ topic.link }})</md></span>
{%- endmacro %}


{# this macro has extra complications in order to avoid a line break between the two spans. Assumes at least two topics. #}
{% macro show_next_previous(topics, current_topic_id) -%}

{% set linked_topics = [] %}
{% for topic in topics %}
{% if topic.level in [1,2] %}
{% set linked_topics = (linked_topics.push(topic), linked_topics) %}
{% endif %}
{% endfor %}

{% for topic in linked_topics %}
{% if topic.id == current_topic_id %}
  {% if not loop.first %}
    {% set  previous_topic = linked_topics[loop.index0 - 1] %}
  {% endif %}
  {% if not loop.last %}
    {% set  next_topic = linked_topics[loop.index0 + 1] %}
  {% endif %}
{% if loop.first %}
{{ show_next(next_topic) }}
{% elseif loop.last %}
{{ show_previous(previous_topic) }}
{% else %}
{{ show_previous(previous_topic) }}{{ show_next(next_topic) }}
{% endif %}
{% endif %}
{% endfor %}
{%- endmacro %}

{% macro show_admin_pagebottom(topics, current_topic_id)%}
<br>
{{ show_next_previous(topics, current_topic_id) }}

</div>
{% endmacro %}

{% set topics = [
  {level: 1, id: "moduleOverview", title: module_pair + " " + module_name, link: "moduleOverview.html", priority: 1},
  {level: 1, id: "usingThisWebsite", title: "Using this Website", link: "usingThisWebsite.html", highlight: "true", priority: 1},
  {level: 1, id: "moduleExpectations", title: "Module Expectations", link: "moduleExpectations.html", priority: 2},
  {level: 0, id: "moduleStructure", title: "Module Structure"},
    {level: 2, id: "weeklySchedule", title: "Weekly Schedule", link: "weeklySchedule.html", priority: 3},
    {level: 2, id: "learningOutcomes", title: "Learning Outcomes", link: "learningOutcomes.html", priority: 2},
    {level: 2, id: "lectures", title: "Lectures", link: "lectures.html", priority: 3},
    {level: 2, id: "tutorials", title: "Tutorials", link: "tutorials.html", priority: 2, tags: ["tutor role", "times", "venue"]},
  {level: 1, id: "instructors", title: "Instructors", link: "instructors.html", priority: 4},
  {level: 1, id: "textbooks", title: "Text Books", link: "textbooks.html", priority: 2},
  {level: 1, id: "programmingLanguages", title: "Programming Language", link: "programmingLanguages.html", priority: 2},
  {level: 0, id: "project", title: "Project"},
    {level: 2, id: "project-overview", title: "Project: Overview", link: "project-overview.html", priority: 2},
    {level: 2, id: "project-product", title: "Project: The product", link: "project-product.html", priority: 2},
    {level: 2, id: "project-scope", title: "Project: Scope", link: "project-scope.html", priority: 2},
    {level: 2, id: "project-constraints", title: "Project: Constraints", link: "project-constraints.html", priority: 2},
    {level: 2, id: "project-teams", title: "Forming Teams", link: "project-teams.html", priority: 2},
    {level: 2, id: "project-timeline", title: "Project: Timeline", link: "project-timeline.html", priority: 2},
    {level: 2, id: "project-w03-inception", title: "Project: inception [week 3]", link: "project-w03-inception.html", priority: 2},
    {level: 2, id: "project-w04-mid-v10", title: "Project: mid-v1.0 [week 4]", link: "project-w04-mid-v10.html", priority: 3},
    {level: 2, id: "project-w05-v10", title: "Project: v1.0 [week 5]", link: "project-w05-v10.html", priority: 2},
    {level: 2, id: "project-w06-mid-v11", title: "Project: mid-v1.1 [week 6]", link: "project-w06-mid-v11.html", priority: 2},
    {level: 2, id: "project-w07-v11", title: "Project: v1.1 [week 7]", link: "project-w07-v11.html", priority: 2},
    {level: 2, id: "project-w08-mid-v12", title: "Project: mid-v1.2 [week 8]", link: "project-w08-mid-v12.html", priority: 3},
    {level: 2, id: "project-w09-v12", title: "Project: v1.2 [week 9]", link: "project-w09-v12.html", priority: 2},
    {level: 2, id: "project-w10-mid-v13", title: "Project: mid-v1.3 [week 10]", link: "project-w10-mid-v13.html", priority: 2},
    {level: 2, id: "project-w11-v13", title: "Project: v1.3 [week 11]", link: "project-w11-v13.html", priority: 2},
    {level: 2, id: "project-w12-mid-v14", title: "Project: mid-v1.4 [week 12]", link: "project-w12-mid-v14.html", priority: 3},
    {level: 2, id: "project-w13-v14", title: "Project: v1.4 [week 13]", link: "project-w13-v14.html", priority: 2},
    {level: 2, id: "project-deliverables", title: "Project: Deliverables", link: "project-deliverables.html", priority: 2},
    {level: 2, id: "project-assessment", title: "Project: Assessment", link: "project-assessment.html", priority: 2},
    {level: 2, id: "project-supervision", title: "Project: Supervision", link: "project-supervision.html", priority: 2},
  {level: 1, id: "peerEvaluations", title: "Peer Evaluations", link: "peerEvaluations.html", priority: 2},
  {level: 1, id: "tools", title: "Tools", link: "tools.html", priority: 3},
  {level: 1, id: "gradeBreakdown", title: "Grade Breakdown", link: "gradeBreakdown.html", priority: 2},
  {level: 1, id: "exams", title: "Exams", link: "exams.html", priority: 2},
  {level: 1, id: "participation", title: "Participation Marks", link: "participation.html", priority: 2},
  {level: 0, id: "appendices", title: "Appendices"},
    {level: 2, id: "appendixA-principles", title: "A: Module Principles", link: "appendixA-principles.html", priority: 4},
    {level: 2, id: "appendixB-policies", title: "B: Module Policies", link: "appendixB-policies.html", priority: 1},
    {level: 2, id: "appendixC-faq", title: "C: Frequently Asked Questions", link: "appendixC-faq.html", priority: 1},
    {level: 2, id: "appendixD-help", title: "D: Getting help in this module", link: "appendixD-help.html", priority: 2},
    {level: 2, id: "appendixE-gitHub", title: "E: Using GitHub", link: "appendixE-gitHub.html", priority: 1},
    {level: 2, id: "appendixF-teamworkIssues", title: "F: Handling teamwork issues", link: "appendixF-teamworkIssues.html", priority: 4}
]%}

{% set faqs = [
  {id: "admin-faq-whereIsEverything", title: "Where is everything?", priority: 1},
  {id: "admin-faq-tVsNonT", title: "What are the differences between the T and the non-T version of the module?", priority: 4},
  {id: "admin-faq-highWorkload", title: "Why the workload is so high?", priority: 4},
  {id: "admin-faq-aPlus", title: "What are the extra requirements to get an A+?", priority: 3},
  {id: "admin-faq-beanCounting", title: "Why so much bean counting?", priority: 4},
  {id: "admin-faq-separateWebsite", title: "Why you force me to visit a separate website instead of using IVLE?", priority: 4},
  {id: "admin-faq-slideFormat", title: "Why slides are not detailed?", priority: 4},
  {id: "admin-faq-selfStudy", title: "Why so much self-study?", priority: 4},
  {id: "admin-faq-noLaptop", title: "What if I don’t carry around a laptop?", priority: 4},
  {id: "admin-faq-narrowScope", title: "Why very narrow project scope?", priority: 4},
  {id: "admin-faq-vagueRequirements", title: "Why project requirements are so vague?", priority: 4},
  {id: "admin-faq-favoriteTool", title: "Why I’m not allowed to use my favorite tool/framework/language etc.?", priority: 4},
  {id: "admin-faq-manySubmissions", title: "Why so many submissions?", priority: 4},
  {id: "admin-faq-fromScratch", title: "Why aren't we allowed to build a new product from scratch?", priority: 4},
  {id: "admin-faq-cs2101Differences", title: "Why submission requirements differ between " + module_pair + " and CS2101?", priority: 4}
]%}

{% set policies = [
  {id: "policy-followingInstructions", title: "Policy on following instructions", priority: 2},
  {id: "policy-teamSize", title: "Policy on grading smaller/larger teams", priority: 4},
  {id: "policy-workDistribution", title: "Policy on project work distribution", priority: 3},
  {id: "policy-validAbsences", title: "Policy on absence due to valid reasons (e.g. MC, LOA, University events)", priority: 4},
  {id: "policy-responseTime", title: "Policy on email response time", priority: 3},
  {id: "policy-techHelp", title: "Policy on tech help", priority: 2},
  {id: "policy-publishingSubmissions", title: "Policy on publishing submissions", priority: 4},
  {id: "policy-plagiarism", title: "Policy on plagiarism", priority: 1},
  {id: "policy-reuse", title: "Policy on reuse", priority: 2},
  {id: "policy-outsiderHelp", title: "Policy on help from outsiders", priority: 2},
  {id: "policy-submissionLength", title: "Policy on suggested length for submissions", priority: 3}
]%}

{% set admin_topics_to_read = {
week1: [
  {faq_id: "admin-faq-whereIsEverything"},
  {topic_id: "programmingLanguages"},
  {topic_id: "textbooks"},
  {faq_id: "admin-faq-tVsNonT"},
  {faq_id: "admin-faq-highWorkload"},
  {faq_id: "admin-faq-aPlus"}],
week2: [
  {policy_id: "policy-techHelp"},
  {topic_id: "tools"},
  {topic_id: "project-overview"},
  {topic_id: "project-product"},
  {topic_id: "project-scope"},
  {topic_id: "project-constraints"},
  {topic_id: "project-timeline"},
  {topic_id: "appendixA-principles"},
  {faq_id: "admin-faq-separateWebsite"},
  {faq_id: "admin-faq-slideFormat"},
  {faq_id: "admin-faq-selfStudy"}],
week3: [
  {topic_id: "project-assessment"},
  {policy_id: "policy-followingInstructions"},
  {topic_id: "peerEvaluations"},
  {topic_id: "gradeBreakdown"},
  {topic_id: "participation"},
  {topic_id: "project-supervision"},
  {faq_id: "admin-faq-noLaptop"}],
week4: [
  {policy_id: "policy-plagiarism"},
  {policy_id: "policy-reuse"},
  {policy_id: "policy-outsiderHelp"},
  {topic_id: "exams"},
  {faq_id: "admin-faq-noLaptop"},
  {policy_id: "policy-publishingSubmissions"}],
week5: [
  {policy_id: "policy-workDistribution"},
  {policy_id: "policy-responseTime"},
  {policy_id: "policy-teamSize"},
  {faq_id: "admin-faq-beanCounting"}],
week6: [
  {policy_id: "policy-submissionLength"},
  {faq_id: "admin-faq-narrowScope"},
  {faq_id: "admin-faq-vagueRequirements"}],
week7: [
  {topic_id: "project-w07-v11"},
  {topic_id: "appendixF-teamworkIssues"},
  {faq_id: "admin-faq-favoriteTool"}],
week8: [
  {topic_id: "project-w08-mid-v12"},
  {faq_id: "admin-faq-fromScratch"},
  {faq_id: "admin-faq-manySubmissions"},
  {faq_id: "admin-faq-cs2101Differences"}],
week9: [
  {topic_id: "project-w09-v12"}],
week10: [
  {topic_id: "project-w10-mid-v13"}],
week11: [
  {topic_id: "project-w11-v13"}],
week12: [
  {topic_id: "project-w12-mid-v14"}],
week13: [
  {topic_id: "project-w13-v14"}]
}%}

{% macro show_title(current_topic_id, topics) -%}
{% for topic in topics  %}
{% if topic.id == current_topic_id %}
{% set hashes = "#" if topic.level == 1 else "##" %}
<markdown>{{ hashes }} {{ topic.title }} <span style="font-size:15px" class="text-muted text-light">{{ show_stars(topic.priority) }} {% for tag in topic.tags %}<span class="badge badge-pill badge-light ">#{{ tag }}</span> {% endfor %}</span></markdown>
{% endif %}
{% endfor %}
{%- endmacro %}

{% macro show_admin_page(current_topic_id, main_text_macro)%}
{{ show_admin_pagetop(topics, current_topic_id) }}
{{ show_title(current_topic_id, topics) | trim }}
{{ main_text_macro() }}
{{ show_admin_pagebottom(topics, current_topic_id) }}
{% endmacro %}