{% import "se-book-adapted/config.njk" as config with context %}

{% macro show_priority_style_untrimmed(level) %}
{% set label_style = {"0": "default", "0:1": "default", "0:2": "default", "0:3": "default", "0:4": "default", "1": "danger", "2": "warning", "3": "info", "4": "success"} %}
{{ label_style[level] }}
{% endmacro %}


{% macro show_priority_style(level) %}{{ show_priority_style_untrimmed(level) | trim }}{% endmacro %}

{% macro show_stars_untrimmed(level) %}
{% if level == "0" %}
  {{ prereq_no_stars }}
{% elseif level == "0:1" %}
  {{ prereq_one_star }}
{% elseif level == "0:2" %}
  {{ prereq_two_stars }}
{% elseif level == "0:3" %}
  {{ prereq_three_stars }}
{% elseif level == "0:4" %}
  {{ prereq_four_stars }}
{% elseif level == "1" %}
  {{ one_star }}
{% elseif level == "2" %}
  {{ two_stars }}
{% elseif level == "3" %}
  {{ three_stars }}
{% elseif level == "4" %}
  {{ four_stars }}
{% else %}
  Unknown level !!! {{ level }}
{% endif %}
{% endmacro %}


{% macro show_stars(level) %}{{ show_stars_untrimmed(level) | trim }}{% endmacro %}


{% macro show_admin_section_to_read(heading, priority, source) %}
<panel src="{{ source }}"  no-close >
<span slot="header" class="panel-title"><md>%%Admin {{ icon_embedding | safe }}%% &nbsp; {{ heading }} {{ show_stars(priority) }}</span>
</panel>
{% endmacro %}


{% macro show_admin_sections_to_read(admin_sections) %}
<span class="activity-desc">Admin info to read:<span>
<div class="indented">
{% for admin_section in admin_sections %}
{{ show_admin_section_to_read(admin_section.heading, admin_section.priority, "../../admin/" + admin_section.source) }}
{% endfor %}
</div>
{% endmacro %}




