{% import "se-book-adapted/config.njk" as config with context %}

{% macro show_priority_style_untrimmed(level) %}
{% set label_style = {"0": "default", "0:1": "default", "0:2": "default", "0:3": "default", "0:4": "default", "1": "danger", "2": "warning", "3": "info", "4": "success"} %}
{{ label_style[level] }}
{% endmacro %}


{% macro show_priority_style(level) %}{{ show_priority_style_untrimmed(level) | trim }}{% endmacro %}

{% macro show_stars_untrimmed(level) %}
{% if level == "0" %}
  {{ prereq_no_stars }}
{% elseif level == "0:1" %}
  {{ prereq_one_star }}
{% elseif level == "0:2" %}
  {{ prereq_two_stars }}
{% elseif level == "0:3" %}
  {{ prereq_three_stars }}
{% elseif level == "0:4" %}
  {{ prereq_four_stars }}
{% elseif level == "1" %}
  {{ one_star }}
{% elseif level == "2" %}
  {{ two_stars }}
{% elseif level == "3" %}
  {{ three_stars }}
{% elseif level == "4" %}
  {{ four_stars }}
{% else %}
  Unknown level !!! {{ level }}
{% endif %}
{% endmacro %}


{% macro show_stars(level) %}{{ show_stars_untrimmed(level) | trim }}{% endmacro %}


{% macro show_stars_in_nav(priority) -%}
&nbsp;<span class="badge rounded-pill bg-light text-dark"><span class="font-weight-bold text-{{ show_priority_style(priority) }}"><md>{{ priority }}:fas-star:</md></span></span>
{%- endmacro %}


{% macro show_admin_section_to_read(heading, priority, source, is_flat=false) %}
{% set panel_title %} Admin {{ icon_embedding | safe }} {{ heading }} {{ show_stars(priority) }}{% endset %}
<panel  type="{{ panel_type }}" minimized >
<span slot="header" class="card-title">{{ panel_title | safe }}</span>
<include src="{{ source }}" />
</panel><p/>
{% endmacro %}


{% macro show_admin_topic(topics, id_of_topic_to_show, div_to_show="main", div_title="", is_flat=false) %}
{% for topic in topics %}
{% if topic.id == id_of_topic_to_show %}
{% set panel_title =  topic.title + ((" [" + div_title + "]") if div_title != "") %}
{{ show_admin_section_to_read(panel_title, topic.priority, "../../admin/" + topic.id + ".md#" + div_to_show, is_flat) }}
{% endif %}
{% endfor %}
{% endmacro %}


{% macro show_admin_faq(faqs, id_of_faq_to_show, is_flat=false) %}
{% for faq in faqs %}
{% if faq.id == id_of_faq_to_show %}
{{ show_admin_section_to_read("Apdx C (FAQs) → " + faq.title, faq.priority, "../../admin/appendixC-faq.md/#" + faq.id, is_flat ) }}
{% endif %}
{% endfor %}
{% endmacro %}


{% macro show_admin_policy(policies, id_of_policy_to_show, is_flat=false) %}
{% for policy in policies %}
{% if policy.id == id_of_policy_to_show %}
{{ show_admin_section_to_read("Apdx B (Policies) → " + policy.title, policy.priority, "../../admin/appendixB-policies.md/#" + policy.id, is_flat ) }}
{% endif %}
{% endfor %}
{% endmacro %}


{% macro show_admin_sections_to_read(topics, policies, faqs, sections_to_show, is_flat=false) %}

#### {{ thumb("+") }} Other info relevant to this week:
<div class="indented-level2">
{% for section in sections_to_show %}
{% if section.topic_id %}
  {% set div_to_show = section.div if section.div else "main"  %}
  {% set div_title = section.div_title if section.div_title else ""  %}
  {{ show_admin_topic(topics, section.topic_id, div_to_show, div_title, is_flat) }}
{% elif section.faq_id %}
  {{ show_admin_faq(faqs, section.faq_id, is_flat) }}
{% elif section.policy_id %}
  {{ show_admin_policy(policies, section.policy_id, is_flat) }}
{% endif %}
{% endfor %}
</div>
{% endmacro %}

{% macro embed_topic(source, title, level="0", indent="0", status="minimized", type="") %}
{% set stars = {"0": "", "1": s, "2": s+s, "3": s+s+s, "4": s+s+s+s} %}
{%  if indent != "0" %}<div class="indented-level{{ indent }}">{% endif %}
<panel type="{{ type }}" header="{{ title | safe }} {{ stars[level] | safe }}" class="embedding" {{ status }} >

<include src="{{ source }}" omitFrontmatter />
</panel>
{%  if indent != "0" %}</div><p/>{% endif %}

{% endmacro %}

{% macro button(text, button_style="light") %}<button type="button" class="btn btn-{{ button_style }} btn-sm {{ 'border' if button_style == 'light' else '' }}">{{ text }}</button>{% endmacro %}

{% macro step(step_number, step_style="dark") %}<span class="badge bg-{{ step_style }}">Step {{ step_number }}</span>{% endmacro %}

{% macro thumb(text, thumb_style="dark") %}<span class="badge rounded-pill bg-{{ thumb_style }} p-2"><big><big>{{ text }}</big></big></span>{% endmacro %}

{% macro timing_badge(text, type="danger") %}<span class="badge bg-{{ type }} {{ 'text-dark' if type in ['warning']}} font-weight-normal"><md>:far-clock: {{ text }}</md></span>{% endmacro %}

{% macro show_as_tab(text, icon) %}<span class="border bg-white ps-1 pe-1 text-nowrap">{{ icon }} {{ text }}</span>{% endmacro %}

{% macro show_as_rounded_tab(text) %}<span class="border border-secondary border-bottom-0 pe-1 ps-1 mr-1 ml-1 rounded-top"><small>{{ text }}</small></span>{% endmacro %}

{% macro get_week_start_date(week_num, format="YYYY-MM-DD", shift=0) -%}{{  get_week_start_date_untrimmed(week_num, format, shift) | trim }}{% endmacro %}

{% macro get_week_start_date_untrimmed(week_num, format, shift) %}
  {% if week_num == 1 %}
  {{ date_w1_start | date(format, shift) }}
  {% else %}
  {{ date_w2_start | date(format, (week_num - (2 if week_num <= recess_after_week else 1)) * 7 + shift)}}
  {% endif %}
{% endmacro %}

{% macro get_date(base, displacement, time="2359", format=format_normal) %}{{ (base | date(format, displacement)) + " " + time}}{% endmacro %}
