{% import "common/outcomes.njk" as outcomes with context %}
{% from "schedule/index.md" import weeks, current_weeks, all_outcomes %}
{% import "common/macros.njk" as macros with context %}
{% from "common/admin.njk" import topics, policies, faqs, admin_topics_to_read with context %}

{% macro show_week_outcomes(week_num, path="") %}
### {{ icon_outcome }} Outcomes
<div class="indented">
{{ outcomes.show_week_schedule_main(week_num, all_outcomes, path, is_flat=true) }}
</div>
{% endmacro %}


{% macro show_week_todos(week_num, path="") %}
### {{ icon_todo }} Todo
<div class="indented">
<include src="todo.md#additional" />
{{ macros.show_admin_sections_to_read(topics, policies, faqs, admin_topics_to_read["week"+week_num], is_flat=true ) }}
</div>
{% endmacro %}


{% macro show_week_tutorial(week_num, path="") %}
### {{ icon_tutorial }} Tutorial {{ week_num }}
<div class="indented">
<include src="{{ path }}tutorial.md" />
</div>
{% endmacro %}


{% macro show_week_lecture(week_num, path="") %}
### {{ icon_lecture }} Lecture {{ week_num }}
<div class="indented">
<include src="{{ path }}lecture.md" />
</div>
{% endmacro %}


{% macro show_week_schedule(week_num, path="") %}
{{ show_week_todos(week_num, path) }}

{# omit outcomes if it is the first week #}
{% if week_num != "1" %}
  {{ show_week_outcomes(week_num, path) }}
{% endif %}

{{ show_week_tutorial(week_num, path) }}
{{ show_week_lecture(week_num, path) }}

{% endmacro %}


{% macro show_week_schedule_as_flat_page(week_number) %}
{% set  week = weeks[week_number - 1]%}

<frontmatter>
title: "Week {{ week_number }} (flat version)"
footer: footer.md
head: scheduleHead.md
</frontmatter>

<include src="../../common/header-flat.md" />

<div class="website-content" id="main">

## Week {{ week_number }} [{{ week.day }}]
<div class="indented">
{{ show_week_schedule(week_number, "") }}
</div>
</div>
{% endmacro %}

