{% import "se-book-adapted/config.njk" as config with context %}
{% from "common/macros.njk" import  show_stars, show_priority_style with context %}
{% from "_module-" + module + "/weeklyTextbookTopics-fragment.md" import weeks_with_no_topics with context %}


{% macro panopto(id, desc="", questions="")%}
<panel type="seamless">
  <div slot="header"><span class="badge rounded-pill bg-danger"><big>{{ icon_video }} Video</big></span>{% if questions %} <span class="badge rounded-pill bg-warning text-dark"><big>Q+</big></span>{% endif %}<md> {{ desc }}</md></div>
<iframe src="https://mediaweb.ap.panopto.com/Panopto/Pages/Embed.aspx?id={{ id }}&autoplay=false&offerviewer=true&showtitle=true&showbrand=false&start=0&interactivity=all" style="width: 684px; height: 513px; border: 1px solid #464646;" allowfullscreen allow="autoplay"></iframe>
</panel>
<p/>
{% endmacro %}


{% macro get_start_index_untrimmed(filter_property, filter_value, entries) -%}
{% set start = "-1" %}
{% for entry in entries %}
{% if start == "-1" and entry[filter_property] == filter_value %}
  {% set start = loop.index0 %}
  {{ start }}
{% endif %}
{% endfor %}
{%- endmacro %}


{% macro get_start_index(filter_property, filter_value, entries) %}{{ get_start_index_untrimmed(filter_property, filter_value, entries) | trim }}{% endmacro %}


{% macro get_end_index_untrimmed(filter_property, filter_value, start, entries) -%}
{% set end = "-1" %}
{% for entry in entries %}
{% if loop.index0 < start %}
  {# start index not reached, no action required #}
{% elseif not entry[filter_property] %}
  {# filter property not present, no action required #}
{% else %}
  {% if entry[filter_property] == filter_value %}
    {# filter property matched, no action required #}
  {% else %}
    {# filter property value did not match #}
    {% if end == "-1" %}
      {# first time encountering mismatch; this is the target index #}
      {% set end = loop.index0 %}
    {% endif %}
  {% endif %}
{% endif %}
{% endfor %}
{% if end == "-1" %}
  {# no mismatch found until the end of the list #}
  {% set end = entries | length %}
{% endif %}
{{ end }}
{%- endmacro %}


{% macro get_end_index(filter_property, filter_value, start, entries) %}{{get_end_index_untrimmed(filter_property, filter_value, start, entries) | trim }}{% endmacro %}


{%- macro make_anchor(text) %}{{ text | trim | replace(".", "-") }}{% endmacro -%}
{%- macro slugify(text) %}{{ text | lower | replace(r/[\s\/]/g, '-') | replace(r/[\(\)%:,&'\[\]\+]/g, '') }}{% endmacro -%}
{%- macro commentary(span_id) %}
<include src="commentary-{{ module | lower }}-fragment.md#{{ span_id }}" optional />
{% endmacro -%}
{%- macro followup(span_id) %}
<p/>
<div class="indented">
<include src="commentary-{{ module | lower }}-fragment.md#followup-{{ span_id }}" optional />
</div>
{% endmacro -%}


{% macro apply_to(filter_property, filter_value, entries, op, params={})%}
{% set start = get_start_index(filter_property, filter_value, entries) %}
{% set end = get_end_index(filter_property, filter_value, start, entries) %}
{{ op(entries.slice(start, end), params) }}
{% endmacro %}


{% macro show_unit(week_num, id_prefix, unit, path_displacement="", is_flat=true, is_toc=false) %}
{% set chapter = unit.location[0] %}
{% set path_as_array = unit.location.slice(1,4) %}
{% set path = path_as_array.join("/") %}
{% set full_path = unit.location.join("/") %}
{% if not unit.priority %}
  {% set priority = config.get_priority(chapter, path_as_array) %}
{% else %}
  {% set priority = unit.priority %}
{% endif %}
{% set panel_decorations = "no-switch" if is_flat else "" %}
{% set panel_expandable = "false" if is_flat else "true" %}
{% set expanded = "expanded" if priority != "4" else "" %}
{% if not is_toc %}
<span id="{{ make_anchor(id_prefix) }}" />

{{ commentary(slugify(full_path)) }}

<panel type="seamless" {{ expanded }} popup-url="{{ baseUrl }}/book/{{  full_path }}">
<span slot="header" class="card-title">
<span class='badge rounded-pill bg-light text-secondary'>{{ id_prefix }}</span> {{ show_stars(priority) }}

####  <small><span class="font-weight-bold text-muted"><include src="{{ path_displacement }}../../book/{{  full_path }}/../path.md" inline trim /></span></small> **<include src="{{ path_displacement }}../../book/{{  full_path }}/text.md#title" inline />**
</span>
  {{ panopto(unit.panopto, questions=unit.questions) if unit.panopto  and (week_num | int) <= (current_week | int) + 13 }}
  <include src="{{ path_displacement }}../../book/{{  full_path }}/unit-inElsewhere-asPanelBody.md" boilerplate />
</panel>
{{ followup(slugify(full_path)) }}
{% else %}
* %%[[{{ id_prefix }}](topics.html#{{ make_anchor(id_prefix) }})] <include src="{{ path_displacement }}../../book/{{  full_path }}/../path.md" inline />%% <include src="{{ path_displacement }}../../book/{{  full_path }}/text.md#title" inline /> {{ show_stars(priority) }}
{% endif %}
{% endmacro %}


{% macro get_unit_priority(unit)%}
{% if unit.priority %}
  {{unit.priority}}
{% elseif unit.location %}
  {% set chapter = unit.location[0] %}
  {% set path_as_array = unit.location.slice(1,4) %}
  {{ config.get_priority(chapter, path_as_array) }}
{% else %}
  {{ 5 }}
{% endif %}
{% endmacro %}


{% macro get_collective_priority(entries)%}
{% set priority = 5 %}
{% for entry in entries %}
  {% set entry_priority = get_unit_priority(entry) | trim | int %}
  {% if entry_priority not in [0, -1] and entry_priority < priority %}
    {% set priority = entry_priority %}
  {% endif %}
{% endfor %}
{% if priority == 5 %}
  {# none of the entries have priorities 1-4 #}
  {% set priority = 0 %}
{% endif %}
{{ priority }}
{% endmacro %}


{% macro show_subheading(subheading) %}
<br/>
{{ commentary(slugify(subheading)) }}

### %%**{{ subheading }}**%%
{% endmacro %}


{% macro show_topic(entries, params={week_num: "n/a", starting_index: "n/a", topic: "n/a", is_flat: false, is_toc: false}) %}
{% if not params.topic.priority %}
  {% set priority = get_collective_priority(entries) | trim %}
{% else %}
  {% set priority = params.topic.priority %}
{% endif %}
{% set  prefix = "W" + params.week_num + "." + params.starting_index%}
{% set  anchor = make_anchor(prefix) %}
{% set letters = "abcdefghijklmnopqrstuvwxyzABCDEFGH" | list %}
{% set letter_index = 0 %}
{% set panel_decorations = "expanded no-switch" if params.is_flat else "" %}
{% set panel_expandable = "false" if params.is_flat else "true" %}
{% if params.is_toc %}
* [[{{ prefix | trim }}](topics.html#{{ make_anchor(prefix) }})] **{{ params.topic.heading }}** {{ show_stars(priority) }}
{% if not params.is_flat %}
<div class="indented-level2">
<small>

{% for entry in entries  %}
  {% if entry.location %}
{{ show_unit(params.week_num, prefix + letters[letter_index], entry, params.path_displacement, params.is_flat, true) }}
    {% set letter_index = letter_index + 1 %}
  {% elseif entry.subheading %}
&nbsp;&nbsp; **{{ entry.subheading }}**
  {% endif %}
{% endfor %}
</small>
</div>
{% endif %} {# if not params.is_flat #}
{% else %}
<span id="{{ anchor }}" />

{{ commentary(slugify(params.topic.heading)) }}

<panel type="seamless" no-close {{ panel_decorations }} expandable="{{ panel_expandable }}" {{ "" if params.topic.collapsed else "expanded" }} >
<span slot="header" class="card-title"><markdown>## %%[{{ prefix | trim }}]%% **{{ params.topic.heading }}** <small><small>{{ show_stars(priority) }}</small></small></markdown> </span>
{{ panopto(params.topic.panopto, questions=params.topic.questions) if params.topic.panopto  and (params.week_num | int) <= (current_week | int) + 13 }}
<div class="indented-level1">
{% for entry in entries  %}
  {% if entry.location %}
{{ show_unit(params.week_num, prefix + letters[letter_index], entry, params.path_displacement, params.is_flat) }}
    {% set letter_index = letter_index + 1 %}
  {% elseif entry.subheading %}
{{  show_subheading(entry.subheading) }}
{{ panopto(entry.panopto, questions=entry.questions) if entry.panopto and (params.week_num | int) <= (current_week | int) + 13 }}
  {% endif %}
{% endfor %}
</div>
</panel>
{{ followup(slugify(params.topic.heading)) }}
{% endif %} {# if params.is_toc #}
{% endmacro %}


{% macro show_topic_group(entries, params={name: "n/a", week_num: "n/a", starting_index: "n/a", is_flat: false, is_toc: false}) %}
{% set  topic_number = params.starting_index | int %}
{% for entry in entries  %}
  {% if entry.heading %}
{{ apply_to("heading", entry.heading, entries, show_topic, {week_num: params.week_num, starting_index: topic_number , topic: entry, path_displacement: params.path_displacement, is_flat: params.is_flat, is_toc: params.is_toc}) }}
{% set  topic_number = topic_number + 1 %}
  {% endif %}
{% endfor %}
<p/>
{% endmacro %}


{% macro show_week(entries, params={week_num: "n/a", is_flat: false, is_toc: false}) %}
{% set i = 1 %}
{% for entry in entries  %}
  {% if entry.name %}
{{ apply_to("name", entry.name, entries, show_topic_group, {name: entry.name, week_num: params.week_num, starting_index: i, path_displacement: params.path_displacement, is_flat: params.is_flat, is_toc: params.is_toc}) }}
  {% set i = i + apply_to("name", entry.name, entries, count_topics) | trim | int %}
  {% endif %}
{% endfor %}
{% endmacro %}


{% macro count_topics(entries, params={})%}
{% set count = 0 %}
{% for entry in entries %}
  {% if entry.heading %}
    {% set count = count + 1 %}
  {% endif %}
{% endfor %}
{{ count }}
{% endmacro %}


{% macro show_week_schedule_main(week_num, entries, path_displacement, is_flat=false, is_toc=false) %}
{{ apply_to("week", week_num, entries, show_week, {week_num: week_num, path_displacement: path_displacement, is_flat: is_flat, is_toc: is_toc}) }}
{% endmacro %}


{% macro show_week_schedule(week_num, entries, path_displacement="") %}
{% if week_num + "" in weeks_with_no_topics %}

%%No topics assigned to this week.%%
{% else %}
<panel type="seamless" header="%%:fas-list-ol: Detailed Table of Contents%%">
<span id="toc">

{{ show_week_schedule_main(week_num, entries, path_displacement, is_toc=true) }}
</span>
</panel>

<hr style="border: 1px dotted #cccccc;" />

{{ show_week_schedule_main(week_num, entries, path_displacement) }}
{% endif %}
{% endmacro %}


{% macro topic_preamble(topic, indent, reuse=true, id=false)%}
{% if indent %}<div class="indented-level{{ indent }}">{% endif %}
{% if topic %}<span id="{{ slugify(topic) }}">{% endif %}
<include src="commentary-box.md" boilerplate>
<variable name="commentary_body">

{% if reuse %}<include src="../../admin/common-commentary-fragment.md#{{ id if id else slugify(topic) }}" />{% else %}{{ caller() }}{% endif %}
</variable>
</include>
{% if topic %}</span>{% endif %}
{% if indent %}</div>{% endif %}
{% endmacro %}


{% macro topic_followup(topic, indent, reuse=true)%}
{% if indent %}<div class="indented-level{{ indent }}">{% endif %}
{% if topic %}<span id="{{ "followup-" + slugify(topic) }}">{% endif %}
<include src="followup-box.md" boilerplate>
<variable name="commentary_body">

{% if reuse %}<include src="../../admin/common-commentary-fragment.md#followup-{{ id if id else slugify(topic) }}" />{% else %}{{ caller() }}{% endif %}
</variable>
</include>
{% if topic %}</span>{% endif %}
{% if indent %}</div>{% endif %}
{% endmacro %}
