{% import "se-book-adapted/config.njk" as config with context %}
{% from "common/macros.njk" import  show_stars, show_priority_style with context %}
{% from "common/outcomes.njk" import apply_to, get_unit_priority, get_collective_priority, count_outcomes with context %}


{% macro show_evidence(evidence_location_full) %}
%%{{ icon_evidence | safe }} Evidence:%%
<div class="indented">
<include src="{{ evidence_location_full }}" />
</div>
{% endmacro %}


{% macro show_default_evidence(chapter, unit_location, path_displacement) %}
{% set evidence_location_full =  path_displacement + "../evidence/" + chapter + ".md#" + (unit_location | replace("/", "_")) %}
{{ show_evidence(evidence_location_full)}}
{% endmacro %}


{% macro show_specific_evidence(evidence_location, path_displacement) %}
{% set evidence_location_full =  path_displacement + "../evidence/" + evidence_location %}
{{ show_evidence(evidence_location_full)}}
{% endmacro %}


{% macro show_evidence_with_unit(id_prefix, unit, path_displacement="") -%}
{% if unit.file %}

<panel type="seamless" expanded >
  <span slot="header" class="card-title"><md>%%For%% <big><span class='badge badge-pill badge-light'>`{{ id_prefix }}`</span></big> {{ unit.heading }} {{ show_stars(unit.priority) }}</md></span>
  <div class="indented">
  <include src="{{ path_displacement }}../evidence/{{ unit.file }}" />
  </div>
</panel>

{% else %}

{% set chapter = unit.location[0] %}
{% set path_as_array = unit.location.slice(1,4) %}
{% set path = path_as_array.join("/") %}
{% set full_path = unit.location.join("/") %}
{% if not unit.priority %}
  {% set priority = config.get_priority(chapter, path_as_array) %}
{% else %}
  {% set priority = unit.priority %}
{% endif %}

  <panel type="seamless" expanded >
  <span slot="header" class="card-title"><md>%%For%% <big><span class='badge badge-pill badge-light'>`{{ id_prefix }}`</span></big> <include src="{{ path_displacement }}../../book/{{  full_path }}/text.md#outcomes" inline/> {{ show_stars(priority) }}</md></span>
<div class="indented">

<panel minimized >
<span slot="header" class="card-title">Details of the LO</span>
  <include src="{{ path_displacement }}../../book/{{ full_path }}/unit-inElsewhere-asFlat.md" boilerplate />
</panel><br><br>
  {% if unit.omit_evidence %}
    {# no need to show evidence #}
  {% elseif unit.evidence %}
{{ show_specific_evidence(unit.evidence, path_displacement) }}
  {% else %}
{{ show_default_evidence(chapter, path, path_displacement) }}
  {% endif %}
</div>
</panel>

{% endif %}
{%- endmacro %}


{% macro show_unit(id_prefix, unit, path_displacement="") -%}
{% if not unit.omit_evidence %}
{{ show_evidence_with_unit(id_prefix, unit, path_displacement) }}
{% endif %}
{%- endmacro %}


{% macro show_outcome(entries, params={week_num: "n/a", starting_index: "n/a", outcome: "n/a"}) %}
{% if not params.outcome.priority %}
  {% set priority = get_collective_priority(entries) | trim %}
{% else %}
  {% set priority = params.outcome.priority %}
{% endif %}
{% set  prefix = "W" + params.week_num + "." + params.starting_index%}
{% set letters = "abcdefghijklmnop" | list %}
{% set letter_index = 0 %}
{% if params.outcome.file %}
  {{ show_unit(prefix, params.outcome, params.path_displacement) }}
{% else %}
  {% for entry in entries  %}
    {% if entry.location %}
{{ show_unit(prefix + letters[letter_index], entry, params.path_displacement) }}
      {% set letter_index = letter_index + 1 %}
    {% endif %}
  {% endfor %}
{% endif %}
{% endmacro %}


{% macro show_outcome_group(entries, params={name: "n/a", week_num: "n/a", starting_index: "n/a"}) %}
{% set  outcome_number = params.starting_index | int %}
{% for entry in entries  %}
  {% if entry.heading %}
{{ apply_to("heading", entry.heading, entries, show_outcome, {week_num: params.week_num, starting_index: outcome_number , outcome: entry, path_displacement: params.path_displacement}) }}
{% set  outcome_number = outcome_number + 1 %}
  {% endif %}
{% endfor %}
{% endmacro %}


{% macro show_week(entries, params={week_num: "n/a"}) %}
{% set i = 1 %}
{% for entry in entries  %}
  {% if entry.name %}
{{ apply_to("name", entry.name, entries, show_outcome_group, {name: entry.name, week_num: params.week_num, starting_index: i, path_displacement: params.path_displacement}) }}
  {% set i = i + apply_to("name", entry.name, entries, count_outcomes) | trim | int %}
  {% endif %}
{% endfor %}
{% endmacro %}


{% macro show_week_schedule_main(week_num, entries, path_displacement) -%}
{{ apply_to("week", week_num, entries, show_week, {week_num: week_num, path_displacement: path_displacement}) }}
{%- endmacro %}


{% macro show_week_evidences(week_num, entries, path_displacement="") %}

{% endmacro %}
